:root{
    --laranja-proz: #FF7F00;
    --roxo-proz: #593493;
    --branco: #fff;
    --modo-claro: #fff;
    --modo-escuro: #000;
}
header{
  background-color: var(--branco);
  width: 100%;
}
#logo img{
  height: 33px;
  padding-left: 15px;
  padding-top: 15px;
  
}
body{
  margin: 0;
}

#topo img{
  height: 70px;
  
}
#topo{
  background-color: var(--roxo-proz);
  border-radius: 0px 0px 20px 20px;
}
#titulo{
  font-family: Arial;
  text-align: center;
  color: var(--roxo-proz);
}

#baner img{
  width: 100%;
  border-radius: 20px 20px;
}

@media screen and (min-width:600px){
  /*Menu*/
  header{
    border-radius: 10px;
    
    
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align:left;
    
  }
  nav ul li {
    display: inline;
    position: relative;
  
  }
  nav ul li a {
    color:var(--roxo-proz);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .3s;
  }


  /*sub menu*/
  nav ul ul {
    background-color: var(--roxo-proz);
    display: none;
    right:0;
    position: absolute;
    border-radius: 10px;
  
    width: 150px;
  }

  nav ul li:hover ul {
    display: block;
  }


  nav ul ul li a {
    display: 150px;
    color: var(--branco);
  }
  nav{
    margin-left: 50px;
  }
}